/* mapa do site */
.sitemap {
    list-style-type: none;
    padding: 0;
}

.main-item {
    margin-bottom: 5px;
}

.sub-menu {
    display: none; /* oculta as submenu */
    margin-left: 20px; /* adiciona um recuo para as submenu */
}

.sub-menu li {
    margin-bottom: 5px;
}

/* estilo para as submenu quando estão visíveis */
.sub-menu.visible {
    display: block;
    color: pink;
}
